body{
    text-align: center;
    background-image: url("https://data.whicdn.com/images/134639989/superthumb.jpg");
    /*background-size:cover;*/
    
}

#translate, #restart, #untranslate, #restartTwo{
    background-color:#ffc0cb;
    border-color:#ff8da1;
    font-family: 'Waiting for the Sunrise', cursive;
    font-size:24px;
    text-shadow: 3px 3px 6px black;
}

h1{
    font-family: 'Waiting for the Sunrise', cursive;
    font-size:64px;
    color:white;
    text-shadow: 3px 3px 6px black;
}

input{
    font-family: 'Poiret One', cursive;
    width:400px;
    height:36px;
    font-size:24px;
}

p{
    font-family: 'Poiret One', cursive;
    font-size:24px;
    font-weight:bold;
}

#resultBox, #resultBoxTwo{
    border-style: groove;
    border-color: #ff8da1; 
    background-color: white;
}

.spacer {
    height:50px;
}